{% extends 'base.html' %}
{% block content %}

        <title>Создать привычку</title>
    </head>
    <body>
        <h1>Добавить новую привычку</h1>

        <form method="post">
        <!-- Защита от хакеров, без неё Django не примет форму -->
            {% csrf_token %}
        
        <!-- Сама форма: Django выведет поля title и description автоматически -->
            {{ form.as_p }}
        
            <button type="submit">Сохранить привычку</button>
        </form>

        <br>
        <a href="{% url 'habit_list' %}">Отмена (назад к списку)</a>
{% endblock %}
